.head{
  
  background-color: #AD6C80 ;
  height: 50px;
  
}

.hm{
  height: 50px;
  width: 50px;
}
p{
  line-height: 2;
}

.top
{
  width: auto;
  height: 710px;
  background-color: #AD6C80;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 130%;
  padding-top: 20px;
} 

.ff{
  font-family: 'Sacramento', cursive;
  margin: 0%;
  padding-top: 30px;
}
.f2{
  font-family: 'Sacramento', cursive;
  margin: 0%;
  width: auto;
  height: auto;
  padding-bottom: 50px;
}

#topimg{
  width : 370px; 
  height: 430px;
  padding-top: 50px;

}

.middle-container
{
  margin: 00px 0px;
  width: auto;
  height: auto;
  text-align: center;
  background-color: #FFC93C;
  background-repeat: no-repeat;
}

.circular{
  border-radius: 100%;
  margin: 30px 0px;
}

#h2m{
  margin: 10px 0px;
}

.midp{
  width: 30%;
  margin: auto;

}
.midlp{
  width: 30%;
  margin: auto;
  padding-bottom: 10px;
}

.midim{
  border-radius: 100%;
  margin: 30px 0px;
  width: 130px;
  height: 130px;
}

.midimi{
  border-radius: 100%;
  margin: 20px 0px;
  width: 150px;
  height: 150px;
      
    
}

.hrs{
  /* background-color: mistyrose; */
  margin: 20px auto;
    border-style: none;
    border-top-style:dotted ;
    border-color: rgb(112, 4, 4);
    border-width: 2px;
    width: 50%;
}

.contact-me{
  padding: 10px;
  background-color: #F7A440;
}

.btn{
  margin: 20px 0px;
}

.bottom-container{
  margin: 0px 0px;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px 0px;
  background-color: #E45826;
}

.footer-link{
  padding-top: 10px;
  height: 40px;
  width: 30px;
}

/* Contact page */
.headc{
  background-color: #F7A440;
  height: 50px;
  
}

.np2{
  background-color: #F7A440;
  text-align: center;
}s

.midmii{
  border-radius: 100%;
  margin: 20px 0px;
  width: 350px;
  height: 350px;
}

.lbip{
  margin: 10px 0px;
}
.lbis{
  margin: 10px 0px;
  padding-bottom: 10px;

}
